<ion-view view-title="Edit Receipt">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="gotoReceipts()">Save</button>
    </ion-nav-buttons>
  <ion-content class="padding">

  <div>
  <ion-list>
      <ion-item class="item-input">
            <span class="input-label">Date</span>
            <input type="date" ng-model="receiptSvc.currentReceipt.date"></ion-item>
      <ion-item class="item-input">
            <span class="input-label">Vendor</span>
            <input type="text" ng-model="receiptSvc.currentReceipt.vendor"></ion-item>
      <ion-item class="item-input">
            <span class="input-label">Title</span>
            <input type="text" ng-model="receiptSvc.currentReceipt.title"></ion-item>
      <ion-item class="item-input">
            <span class="input-label">Description</span>
            <input type="text" ng-model="receiptSvc.currentReceipt.description"></ion-item>
      </ion-list>
  <div style="border:solid 1px green;min-height:80%">
        <ion-scroll zooming="true" delegate-handle="inner" direction="xy" 
                    scrollbar-x="false" scrollbar-y="false" min-zoom="1" max-zoom="6"
                    id="scrolly"  style="width: 100%; height: 100%;">
			<img id="page" ng-src="{{receiptSvc.currentReceipt.imageUrl}}" >
        </ion-scroll>
  </div>
  </div>      
      
  </ion-content>
</ion-view>