<div class="modal" ng-controller="MiscellaneousCtrl">
    <ion-header-bar class="bar-energized">
		<div class="buttons">
			<button class="button button-positive" ng-click="cancelNew()">Cancel</button>
		</div>
		<h1 class="title">Add Misc Expense</h1>
		<div class="buttons">
			<button class="button button-positive" ng-click="saveNew()">Save</button>
		</div>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <form name="vm.miscForm">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="newMisc.date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="enter description" ng-model="newMisc.description">
                </label>
                <label class="item item-input">
                    <span class="input-label">Amount</span>
                    <input type="number" ng-model="newMisc.amount">
                </label>
            </ion-list>
            <button class="button button-stable button-block disabled" 
                    ng-hide="true" ng-click="addReceipt()">Add Receipt</button>
        </form>
    </ion-content>
</div>