<div class="modal" ng-controller="TransportationCtrl">
    <ion-header-bar class="bar-energized">
		<div class="buttons">
			<button class="button button-positive" ng-click="cancelNew()">Cancel</button>
		</div>
		<h1 class="title">Add Transportation</h1>
		<div class="buttons">
			<button class="button button-positive" ng-click="saveNew()">Save</button>
		</div>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <form name="vm.transportationForm">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" placeholder="05/21/2015" ng-model="newTransportation.date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Company</span>
                    <input type="text" placeholder="" ng-model="newTransportation.company">
                </label>
                <label class="item item-input">
                    <span class="input-label">Amount</span>
                    <input type="number" placeholder="" ng-model="newTransportation.amount">
                </label>
            </ion-list>
            <button class="button button-stable button-block disabled" 
                    ng-hide="true" ng-click="addReceipt()">Add Receipt</button>
        </form>
    </ion-content>
</div>